.activeLink {
  background-color: grey;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: rgba(140, 140, 140, 0.6);
  color: rgb(0, 0, 0);
  border-top: 1px solid #e1e4e8;
  padding-top: 8px;
  padding-bottom: 8px;
}

.notActiveLink {
  background-color: grey;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  letter-spacing: 2px;
  font-weight: 400;
  background-color: rgba(140, 140, 140, 0.4);
  color: rgb(0, 0, 0);
  border-top: 1px solid #e1e4e8;
  padding-top: 8px;
  padding-bottom: 8px;
}

.activeLink:hover {
  background-color: rgba(140, 140, 140, 0.8);
}

.notActiveLink:hover {
  background-color: rgba(140, 140, 140, 0.8);
}

@media only screen and (min-width: 600px) {
  .activeLink {
    margin: 1em;
    border-top: none;
  }

  .notActiveLink {
    margin: 1em;
    border-top: none;
  }
}
