.activeLink {
  background-color: green;
  margin: 2em;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  letter-spacing: 2px;
}

.notActiveLink {
  background-color: grey;
  margin: 2em;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 600px) {
  .activeLink {
    margin: 1em;
  }

  .notActiveLink {
    margin: 1em;
  }
}
