.nav-icon {
  width: 40px;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  width: 1.5em;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  margin-bottom: 7px;
  transition: all 0.2s ease-in-out;
}

.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
}

@media only screen and (min-width: 600px) {
  .nav-icon {
    display: none;
  }
}
