.closed {
  left: -300px;
}
.open {
}

.tabsWrapper {
}

ul {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100vh;
  z-index: 2;
  width: 50%;
  min-width: 200px;
  top: 4em;
  z-index: 1000;
  background-color: rgb(248, 246, 246);
}

.ResponsiveLinks {
  display: grid;
}

@media only screen and (min-width: 600px) {
  ul {
    grid-column: 4/11;
    position: static;
    height: auto;
    width: auto;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .ResponsiveLinks {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }
}

@media only screen and (min-width: 1000px) {
  ul {
    grid-column: 6/10;
    position: static;
    height: auto;
    width: auto;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}
