.user {
  background-color: green;
  display: none;
}

@media only screen and (min-width: 600px) {
  .user {
    display: inline-block;
    grid-column: 11/13;
    position: static;
    background-color: red;
    height: auto;
    width: auto;
    top: 0;
  }
}

.userPhoto {
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.3em;
}
