.link {
  text-decoration: none;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

.buttonWrapper {
  text-align: center;
}

.googleButton {
  background-color: brown;
}

.facebookButton {
  background-color: blue;
}
